<section class="">
  <div class="splash_container">
    <h1 class="splash_name">
      Diva Spends
    </h1>
    </div>
    <div class="splash_action">
      <%= button_to "LOG IN", new_user_session_path, method: :get, class: 'login_splash' %>
      <%= button_to "SIGN UP", new_user_registration_path, method: :get, class: 'logout_splash' %>
  </div>
</section>